{{#if resume.work.length}}
<section id="work">
    <h2>Work Experience</h2>
    {{#each resume.work}}
        {{#> work-item subtitle=(getValueIfDiffFromPrevious @root.resume.work @index "company") title=position location=location startDate=startDate endDate=endDate startDate2=startDate2 endDate2=endDate2}}

        {{#if highlights.length}}
        <ul class="highlights">
            {{#each highlights}}
            <li>{{{markdown .}}}</li>
            {{/each}}
        </ul>
        {{/if}}
        {{/work-item}}
    {{/each}}
</section>
{{/if}}
